@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@500&family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
  
}
header img{
    width: 1024px;
    margin-top: 40px;
}
nav{
    width: 1024px;
    font-size: 14px;
   display: flex;   
    background: royalblue;   
    padding: 20px;
    font-family: 'Anton', sans-serif;
    position: fixed;
    z-index: 1;
}
a{
    text-decoration: none;
    color: white; 
}
a:hover{
    color: greenyellow;
}
.nav_links_1 ul li{
    display: inline-block;
    padding-left: 10px;   
}

.nav_links_2{
  margin-left: 140px;
}

.nav_links_2 ul li{
    display: inline-block; 
    padding-left:10px ;      
}
.Vid{
    color: royalblue;
    text-align: center;
    margin-top:30px ;
    position: relative;
    z-index: -1;
}
.Vid:before{
    content: '';
    display: block;
    width: 350px;
    height: 2px;
    background: royalblue;
    position: absolute;
    left: 5%;
    top: 20%;
    z-index: 1;
}
.Vid:after{
    content: '';
    display: block;
    width: 350px;
    height: 2px;
    background: royalblue;
    position: absolute;
    right: 5%;
    top: 20%;
    z-index: 1;
}
span{
    background: royalblue;
}
.container{
    background-image: url(img/gradient\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    padding: 15px;
}
.Main iframe{
    width: 700px;
    height: 500px;
    margin: 20px 150px;
}
.Videos iframe{
    flex-direction: row;
    width: 320px;
    height: 400px;
    margin-top: -90px;

}
footer{
    background: royalblue;
    width: 100%;
    height: 80px;
    margin-top: 0px;
    
}
footer p{
    background: none;
    color: white;
    padding: 30px;
}
footer p span:hover {
    color: yellowgreen;
    cursor: pointer;
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #263238;
    color: white;
    bottom: 10px;
    border-radius: 30px;
    right: 40px;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    opacity: .5;
    z-index: 1;
}
.gotopbtn:hover{
    opacity: .9;
    color: #76FF03;
    
}
@media (max-width:414px){
    nav{
        display: inline-block;
        width: 100% ;
        position: absolute;
    }

    nav a{
        background: #0D47A1;
        padding: 10px;
        line-height: 45px;
    }
    nav a:hover {
        background: #FFD600;
        color: rgb(51, 46, 46); ;
    }
    .nav_links_2{
        margin-left: 0px;
      }
      header img{
          width: 100%;
          margin-top: 180px;
      }
      .Main iframe{
          width: 380px;
          margin: 40px 0px 0px;
      }
      .Videos iframe{
          display: flex;
          flex-direction: column;
          margin: -150px 40px 0px;
      }
      .Vid:before{
          width: 100px;
      }
      .Vid:after{
          width: 100px;
      }
      footer{
          height: 100px;
          width: 100%;
      }
      .gotopbtn{
          right: 10px;
      }
    }